


.navbar ul li a {
    color: #ffff !important;
}


#greencenter {
    color: #00FFA3;
    text-align: center;
}

#purplecenter {
    color: #DC1FFF;
    text-align: center;
}

p {
    color: #ffff;
}

.container {
    position: relative;
    color: white;
}

.text-block {
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-left: 20px;
    padding-right: 20px;
}