


.navbar ul li a {
    color: #ffff !important;
}


#greencenter {
    color: #00FFA3;
    text-align: center;
}

#cyancenter {
    color: #03E1FF;
    text-align: center;
}

#purplecenter {
    color: #DC1FFF;
    text-align: center;
}

#article {
    color: #ffff;
    text-align: justify;
    text-indent: 50px;
}

.container {
    position: relative;
    color: white;
}

.text-block {
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #DC1FFF; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
